[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
statsmodels = "*"
matplotlib = "*"
scikit-learn = "*"
fastdtw = "*"
seaborn = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
